.boxes{
    width: 1000px;
    display: flex;
    flex-direction: row;
    margin: 50px auto;

}
.box{
    width: 200px;
    min-height: 200px;
    margin: 10px;
    padding: 20px;
}
#Blue{
    background-color: blue;
}
#Red{
    background-color: red;
}
#Green{
    background-color: green;
}