:root{
    --main-color: rgba(20, 15, 110,1.0);
    --main-color-light: rgba(20, 15, 110,0.5);
    --accent-color: rgba(176, 46, 156,1.0);
    --accent-color-light: rgba(176, 46, 156,0.5);
}


body{
    font-family: 'Roboto Serif', serif;
    background-image:linear-gradient(to bottom right, var(--main-color), white);
    background-repeat: no-repeat;
    min-height:100vh ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-title{
    font-size: 2rem;
    color: white;
}

.header, .task-form{
    min-height: 20vh;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-item{
    padding: .5rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
    background-color: white;
}

.btn-task-add{
    color: var(--accent-color);
    cursor: pointer;

}
.btn-task-add:hover{
    color: white;
    background-color: var(--accent-color);
}

.task-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-list{
    list-style-type: none;
    min-height: 40%;
}

.task-item{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    font-size: 1.2rem;
    transition: all 1s ease;
}

.task-tanim{
    flex: 1;
    margin-right: 200px;
    padding: 0 10rem;
}

.task-btn{
    background-color: var(--accent-color);
    color: white;
    outline: none;
    border: none;
    font-size: 1.5rem;
    padding: 0.8rem;
}

.task-btn-sil{
    background-color: var(--main-color);
}

.task-tamam{
    text-decoration: line-through;
    opacity: 0.5;
}

.yoxacix{
    transform: scale(0);
}

.fas{
    pointer-events: none;
}